<div id="footer">
  <div class="wrap">
    <div class="footerHere">
      <div class="copyRight">Copyright© 2013, zuora.com. Property of Zuora, Inc., All Rights Reserved. Patent Pending. Privacy Policy</div>
    </div>    
  </div>
</div>